/*
Page Layout
*/

html,
body {
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    width: 100%;
}

main {
    width: 100%;
    flex-grow: 1;
    position: relative;
    cursor: url("./assets/pug-cursor.png"), pointer;

    .wallpaper {
        position: absolute;
        inset: 0;
        background-color: #fff8e7;
        overflow: hidden;
    }
    .desktop {
        position: absolute;
        /*inset: 0;*/
    }

    /*.wallpaper {
         uncomment if stuff is hidden behind wallpaper
         z-index: -1;
         background-position: bottom-right;
         background-repeat: no-repeat;
         background-size: cover;
         background-image: url("./assets/wallpaper.png");
    }*/

    /*.wallpaper-image {
        height: 70%;
        position: absolute;
        right: 50px;
        bottom: 20px;
        width: auto;
        max-width: none;
    }*/

    .wallpaper-image {
        height: 25vw;
        position: absolute;
        right: 50px;
        bottom: 20px;
        max-width: 100%;
        object-fit: contain;
    }
}

/*
Page Styles
*/

.header {
    padding: 0 20px;
    display: flex;
    background-color: #ff6a47;
    height: 70px;
    align-items: center;
    cursor: url("./assets/pug-cursor.png"), pointer;

    .header-brand {
        margin-right: 10px;

        > img,
        > svg {
            max-height: 50px;
        }
    }

    .header-menu {
        flex: 1;
        display: flex;
        height: 50%;
    }

    .header-start,
    .header-end {
        align-items: center;
        display: flex;
    }

    .header-end {
        margin-left: auto;
    }

    /*a:focus {
        color: #c92dfe;
    }*/

    .header-item {
        padding: 20px 10px;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: monospace;
        color: black;
        border-radius: 50px;
        cursor: url("./assets/pug-cursor.png"), pointer;

        &:hover {
            background-color: #809bff;
            color: #fff8e7;
        }

        &:active {
            background-color: #db70ff;
        }

        &:focus {
            color: #c92dfe;
        }
    }
}

.li {
    display: inline;
    padding-left: 16px;
    font-size: 20px;
}

.icon {
    height: 40px;
}

.desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    gap: 40px;
    padding: 20px;
    /*width: 100%;
    align-content: flex-start;*/
}

.desktop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100px;
    /*cursor: url("./assets/pug-cursor.png"), pointer;*/
}

.icon-text {
    font-size: 12px;
    color: black;
    text-align: center;
    font-family: monospace;
    word-break: break-word;
    max-width: 80px;
    line-height: 1.2;
}

.desktop-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 4px;
    display: block;
}

/*.wallpaper {
     width: 100%;
     height: 100%;
}*/
